@font-face
	font-family: "DietDidotBold"
	src: url("../assets/fonts/DietDidotBold.eot")
	src: url("../assets/fonts/DietDidotBold.eot?#iefix")format("embedded-opentype"),
	url("../assets/fonts/DietDidotBold.woff") format("woff"),
	url("../assets/fonts/DietDidotBold.otf") format("opentype")
	font-style: normal
	font-weight: normal

@font-face
	font-family: "DietDidotExtra"
	src: url("../assets/fonts/DietDidotExtra.eot")
	src: url("../assets/fonts/DietDidotExtra.eot?#iefix")format("embedded-opentype"),
	url("../assets/fonts/DietDidotExtra.woff") format("woff"),
	url("../assets/fonts/DietDidotExtra.otf") format("opentype")
	font-style: normal
	font-weight: normal

@font-face
	font-family: "QanelasRegular"
	src: url("../assets/fonts/QanelasRegular.eot")
	src: url("../assets/fonts/QanelasRegular.eot?#iefix")format("embedded-opentype"),
	url("../assets/fonts/QanelasRegular.woff") format("woff"),
	url("../assets/fonts/QanelasRegular.otf") format("opentype")
	font-style: normal
	font-weight: normal

@font-face
	font-family: "QanelasBold"
	src: url("../assets/fonts/QanelasBold.eot")
	src: url("../assets/fonts/QanelasBold.eot?#iefix")format("embedded-opentype"),
	url("../assets/fonts/QanelasBold.woff") format("woff"),
	url("../assets/fonts/QanelasBold.otf") format("opentype")
	font-style: normal
	font-weight: normal