@import '~reset-css'
@import './vars'
	
html, body
	padding: 0
	margin: 0
	font-family: $regular, '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
	color: $black
	font-size: 18px

a 
	color: inherit
	text-decoration: none

* 
	box-sizing: border-box


h1
	font: 82px $bold

h2
	font: 64px $bold

h3
	font: 46px $bold


main
	padding: 150px 0 90px

.container
	position: relative
	width: 97%
	max-width: 1280px
	margin: 0 auto

.box
	display: flex
	width: 100%
	justify-content: space-between
	align-items: center


@keyframes fadeIn
	0%
		opacity: 0
	100%
		opacity: 1


@import './Header'
@import './MainMenu'
@import './Overlay'
@import './Button'
@import './MiniCart'
@import './Catalog'
@import './Goods'
@import './GoodSlider'
@import './Pagination'